<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3 class="card-title">
      {{ '::Menu:PurchaseItemHistory' | abpLocalization }}
    </h3>
  </ng-template>
  <ng-template #abpBody>
    <ngx-datatable [rows]="purchaseItem.items" [count]="purchaseItem.totalCount" [list]="list" default
      [offset]="tableOffset" (page)="onChange($event)">
      <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              ngbDropdownToggle>
              <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem (click)="viewPurchase(row.purchaseId, row.itemName)">
                {{ '::Purchase' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::DatePurchase' | abpLocalization" prop="datePurchase">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.datePurchase | date:'medium'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::Quantity' | abpLocalization" prop="quantity">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="itemName">
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Price' | abpLocalization" prop="price">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.price | currency:'IDR'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [name]="'::CurrentBuyPrice' | abpLocalization" prop="currentBuyPrice">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.currentBuyPrice | currency:'IDR'}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </ng-template>


  <ng-template #abpFooter>

    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

  </ng-template>
</abp-modal>