<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3 class="card-title">
      {{ '::Menu:SalesItemHistory' | abpLocalization }}
    </h3>
  </ng-template>
  <ng-template #abpBody>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">{{ '::Name' | abpLocalization }}</label>
        <input id="name" formControlName="name" class="form-control" disabled />
      </div>

    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ "::Action" | abpLocalization }}</th>
          <th scope="col" sortable="dateSales" (sort)="onSort($event)">{{ "::DateSales" | abpLocalization }}</th>
          <th scope="col" sortable="quantity" (sort)="onSort($event)">{{ "::Quantity" | abpLocalization }}</th>
          <th scope="col" sortable="sellPrice" (sort)="onSort($event)">{{ "::SellPrice" | abpLocalization }}</th>
          <th scope="col" sortable="currentBuyPrice" (sort)="onSort($event)">{{ "::CurrentBuyPrice" | abpLocalization }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saleItem of saleItem.items">
          <td>

              <div ngbDropdown container="body" class="d-inline-block">
                  <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" ngbDropdownToggle>
                      <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
                  </button>
                  <div ngbDropdownMenu>
                      <button ngbDropdownItem (click)="viewSale(saleItem.saleId, saleItem.itemName)">
                          {{ '::Sale' | abpLocalization }}
                      </button>
                  </div>
              </div>

          </td>

          <td>{{ saleItem.dateSales | date: 'medium' }}</td>
          <td>{{ saleItem.quantity }}</td>
          <td>{{ saleItem.salePrice | currency:'IDR'}}</td>
          <td>{{ saleItem.currentBuyPrice | currency:'IDR'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="saleItem.totalCount" [(page)]="page" [maxSize]="10" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"
      (pageChange)="ngOnChanges()">
    </ngb-pagination>
    </div>

  </ng-template>


  <ng-template #abpFooter>

    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

  </ng-template>
</abp-modal>