<div id="wrapper" class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Items' | abpLocalization }}
        </h5>
      </div>
      <div class="text-right col col-md-6"></div>
    </div>
  </div>
  <!-- 
    <div class="card-body">

        <abp-extensible-table
        [data]="data$ | async"
        [recordsTotal]="totalCount$ | async"
        [list]="list"
      ></abp-extensible-table>
    
    </div> -->

  <div class="card-body">
    <div class="card-body">
      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="'AbpUi::PagerSearch' | abpLocalization"
          [(ngModel)]="list.filter" />
      </div>
      

      <ngx-datatable [rows]="item.items" [count]="item.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="200" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                ngbDropdownToggle>
                <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="viewPuchaseHistory(row.id)">
                  {{ '::PurchaseHistory' | abpLocalization }}
                </button>
                <button ngbDropdownItem (click)="viewSaleHistory(row.id)">
                  {{ '::SaleHistory' | abpLocalization }}
                </button>

                <button ngbDropdownItem (click)="viewQuantityTracker(row.id)">
                  {{ '::QuantityTracker' | abpLocalization }}
                </button>

                
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Code' | abpLocalization" prop="code"></ngx-datatable-column>

        <ngx-datatable-column [name]="'::BuyPrice' | abpLocalization" prop="buyPrice">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.buyPrice | currency:'IDR'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::SellPrice' | abpLocalization" prop="sellPrice">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.sellPrice | currency:'IDR'}}

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::ProfitLoss' | abpLocalization" prop="profitLoss">
          <ng-template let-row="row" ngx-datatable-cell-template>

            {{row.profitLoss | currency:'IDR'}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</div>

<app-purchase-item-history [item]="selectedPurchaseItemHistory" (purchase)="navigatePurchase($event)">
</app-purchase-item-history>
<app-sale-item-history [item]="selectedSaleItemHistory" (sale)="navigateSale($event)">
</app-sale-item-history>
<app-purchase-item [item]="selectedPurchaseItem" [filter]="selectedPurchaseItemFilter"></app-purchase-item>

<app-sale-item [item]="selectedSaleItem" [filter]="selectedSaleItemFilter"></app-sale-item>

<app-item-quantity-tracker [item]="selectedItemQuantityTracker"></app-item-quantity-tracker>