<div id="wrapper" class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ '::Menu:Items' | abpLocalization }}
        </h5>
      </div>
      <div class="text-right col col-md-6"></div>
    </div>
  </div>
  <!-- 
    <div class="card-body">

        <abp-extensible-table
        [data]="data$ | async"
        [recordsTotal]="totalCount$ | async"
        [list]="list"
      ></abp-extensible-table>
    
    </div> -->

  <div class="card-body">
    <div class="card-body">
      <div class="form-group">
        <input type="text" class="form-control" [placeholder]="'AbpUi::PagerSearch' | abpLocalization"
          [(ngModel)]="list.filter" />
      </div>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{ "::Action" | abpLocalization }}</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">{{ "::Name" | abpLocalization }}</th>
            <th scope="col" sortable="quantity" (sort)="onSort($event)">{{ "::Quantity" | abpLocalization }}</th>
            <th scope="col" sortable="code" (sort)="onSort($event)">{{ "::Code" | abpLocalization }}</th>
            <th scope="col" sortable="buyPrice" (sort)="onSort($event)">{{ "::BuyPrice" | abpLocalization }}
            <th scope="col" sortable="sellPrice" (sort)="onSort($event)">{{ "::SellPrice" | abpLocalization }}
              <th scope="col" sortable="profitLoss" (sort)="onSort($event)">{{ "::ProfitLoss" | abpLocalization }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of item.items">
            <td>
  
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  ngbDropdownToggle>
                  <i class="fa fa-cog mr-1"></i>{{ '::Actions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="viewPuchaseHistory(item.id)">
                    {{ '::PurchaseHistory' | abpLocalization }}
                  </button>
                  <button ngbDropdownItem (click)="viewSaleHistory(item.id)">
                    {{ '::SaleHistory' | abpLocalization }}
                  </button>
  
                  <button ngbDropdownItem (click)="viewQuantityTracker(item.id)">
                    {{ '::QuantityTracker' | abpLocalization }}
                  </button>
                </div>
              </div>
  
            </td>
  
            <td>{{ item.name }}</td>
            <td>{{ item.quantity}}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.buyPrice | currency:'IDR'}}</td>
            <td>{{ item.sellPrice | currency:'IDR'}}</td>
            <td>{{ item.profitLoss | currency:'IDR'}}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="item.totalCount" [(page)]="page" [maxSize]="10" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"
        (pageChange)="ngOnInit()">
      </ngb-pagination>
      </div>
    </div>
  </div>
</div>

<app-purchase-item-history [item]="selectedPurchaseItemHistory" (purchase)="navigatePurchase($event)">
</app-purchase-item-history>
<app-sale-item-history [item]="selectedSaleItemHistory" (sale)="navigateSale($event)">
</app-sale-item-history>

<app-purchase-item [item]="selectedPurchaseItem" [filter]="selectedPurchaseItemFilter"></app-purchase-item>
<app-sale-item [item]="selectedSaleItem" [filter]="selectedSaleItemFilter"></app-sale-item>

<app-item-quantity-tracker [item]="selectedItemQuantityTracker" (purchase)="navigatePurchase($event)" (sale)="navigateSale($event)"></app-item-quantity-tracker>
