<div id="wrapper" class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">
            {{ '::Menu:Items' | abpLocalization }}
          </h5>
        </div>
        <div class="text-right col col-md-6"></div>
      </div>
    </div>
<!-- 
    <div class="card-body">

        <abp-extensible-table
        [data]="data$ | async"
        [recordsTotal]="totalCount$ | async"
        [list]="list"
      ></abp-extensible-table>
    
    </div> -->

    <div class="card-body">
        <div class="card-body">
            <ngx-datatable [rows]="item.items" [count]="item.totalCount" [list]="list" default>
              <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>
              <ngx-datatable-column [name]="'::Code' | abpLocalization" prop="code"></ngx-datatable-column>

              <ngx-datatable-column [name]="'::BuyPrice' | abpLocalization" prop="buyPrice">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.buyPrice | currency:'IDR'}}
                  </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [name]="'::SellPrice' | abpLocalization" prop="sellPrice">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.sellPrice | currency:'IDR'}}
        
                  </ng-template>
              </ngx-datatable-column> 

              <ngx-datatable-column [name]="'::ProfitLoss' | abpLocalization" prop="profitLoss">
                <ng-template let-row="row" ngx-datatable-cell-template>

                  {{row.profitLoss | currency:'IDR'}}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>

    </div>


  </div>
  