# This is a basic workflow to help you get started with Actions

name: dev_DbMigrator

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1.6.0
      
      - name: Build and Run Database Migration
        run: |
             cd web/aspnet-core
             docker build -t liej6799/gfamigrator -f Dockerfile.mi.dev .
             docker run -t liej6799/gfamigrator

